.notification {
    top: -10rem;
    @apply bg-blue-500;
    @apply border-blue-300;

    .notification--svg:before {
        display: inline-block;
        @apply text-center;
        @apply font-extrabold;
        @apply border-2;
        @apply rounded-full;
        @apply fill-current;
        @apply h-8;
        @apply w-8;
        @apply mr-6;
        @apply mb-2;

        content: '!';
        @apply border-blue-300;
        @apply text-blue-200;
    }
}

.notification--error {
    @apply bg-red-500;
    @apply border-red-300;

    .notification--svg:before {
        content: 'x';
        @apply border-red-300;
        @apply text-red-200;
    }
}

.notification--success {
    @apply bg-green-500;
    @apply border-green-300;

    .notification--svg:before {
        content: '✔';
        @apply border-green-300;
        @apply text-green-200;
    }
}
